.communities-section {
  padding: 60px 0;
  position: relative;
}

.nav-arrows {
  margin-right: 20px;
}

.arrow-btn {
  background-color: #f1f1f1;
  border: none;
  font-size: 1.5rem;
  color: #333;
 

  transition: all 0.3s ease;
}

.arrow-btn:hover {
  background-color: #333;
  color: white;
}

.community-card {
  transition: transform 0.3s ease;
  cursor: pointer;
}



.community-img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  
  
}
.community-img:hover{
    transform: scale(1.04);
    transition: transform 0.4s ease-in-out;
  

    
}

.community-info h5 {
  margin-bottom: 6px;
}

.community-info p {
  font-size: 0.9rem;
  line-height: 1.4;
}
